$font-size: 16px;
$font-family: "Open Sans", Arial, sans-serif;

$black: #363636 !default;
$green: #00bbb5 !default;
$green-dark: #006268 !default;
$white: #ffffff !default;
$grey: #f1f1f1 !default;
$grey-dark: #a8aaab !default;
